*{
  box-sizing: border-box;
}

body{
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
}

.card{
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    padding: 30px;
    border-radius: 12px;
}

button{
    border: 2px solid rgb(204, 204, 204);
    padding: 20px 80px;
    border-radius: 50px;
    display: block;
    cursor: pointer;
}